/* CSS Stylings */

body {
    background-color: blanchedalmond;
}

.recipelinks {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: auto;
    width: auto;
    text-decoration: none;
}

.recipelinks > .recipebuttons {
    background-color: blanchedalmond;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    margin: 25px;
    padding-left: 1%;
    padding-right: 1%;
}

h1 {
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline;
}

img {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}